.Card {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 300px;
    width: 100%;

}

.Card .Title {
    color: black;
}

.Card .Content {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: medium;
}